#Gitignore file. Tells GIt What To Ignore In Therm Of Files. Feel Free To Add Items That You Dont Want On The Main Repo But You Want Locally

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

!Makefile

### Above combination will ignore all files without extension ###

#run File - its my (edward) compiler output
run

#ignores the exectuable files we make for testing
*.out
*.exe

#ignores vscode configs
.vscode
.vscode/

#ignore personal python enviroment
Python

#Ignore Temporary Python Files
__pycache__

#Ignore Testing Map Files
ignore.map 


.vscode/settings.json
