<h2>Please enter an expression below</h2>            
    <form action='/exp'>
        <div id="inputText">    
            <input placeholder='Expression' id='exp' type='text' name='exp' autofocus required>
            <input type='submit' value='&rarr;' id='submit'>
        </div>
        <br><br><br>
        <h4>Special commands</h4>        
        <ul>
            <li>STORE: Set a variable to your user cache</li>
            <li>GETALL: See all of your variables that are stored in your cache</li> 
        </ul>                    
    </form> 
