<h2>Please enter an expression below</h2>            
    <form action='/exp'>
        <input placeholder='Expression' id='exp' type='text' name='exp' autofocus required>
        <input type='submit' value='&rarr;'>
        <br><br><br>
        <h4>Special commands</h4>        
        <ul>
            <li>STORE: Set a variable to the user cache</li>
            <li>GETALL: See all of your variables that are stored in your cache</li> 
        </ul>                    
    </form> 
<p id='connect'>To use the calculator on any devices connected to the same network, type in your address bar the LAN ip address of this computer.</p>
