<h2>Please enter an expression below</h2>            
    <form action='/exp'>
        <div id="inputText">    
            <input placeholder='Expression' id='exp' type='text' name='exp' autofocus required>
            <input type='submit' value='&rarr;' id='submit'>
        </div>
        <br><br>
        <h4>Special commands</h4>        
        <ul>
            <li>STORE: Set a variable to your user cache</li>
            <li>GETALL: See all of your variables that are stored in your cache</li> 
        </ul>                    
    </form> 

    <div id="allOps">
        <div class="messagesN">
            <h3 class="titles">Addition</h3>
            <p>Sign: +</p>
            <p>Example: 8 + 7 = 15</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L138-L141" target="_blank">Implementation</a>
        </div>
        <div class="messagesN">
            <h3 class="titles">Subtraction</h3>
            <p>Sign: -</p>
            <p>Example: 8 - 7 = 1</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L144-L147" target="_blank">Implementation</a>
        </div>
        <div class="messagesN">
            <h3 class="titles">Multiplication</h3>
            <p>Sign: *</p>
            <p>Example: 8 * 7 = 56</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L150-L153" target="_blank">Implementation</a>
        </div>
        <div class="messagesN">
            <h3 class="titles">Division</h3>
            <p>Sign: /</p>
            <p>Example: 8 / 7 = 1.1428571</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L156-L163" target="_blank">Implementation</a>
        </div>
        
        <div class="messagesN">
            <h3 class="titles">Modulo</h3>
            <p>Sign: %</p>
            <p>Example: 8 % 7 = 1</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L166-L190" target="_blank">Implementation</a>
        </div>
        <div class="messagesN noU">
            <h3 class="titles">Factorial</h3>
            <p>Sign: !</p>
            <p>Example: 4! = 24</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L193-L208" target="_blank">Implementation</a>
        </div>
        <div class="messagesN">
            <h3 class="titles">Exponents</h3>
            <p>Sign: ^</p>
            <p>Example: 2 ^ 4 = 16</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L221-L293" target="_blank">Implementation</a>
        </div>
        <div class="messagesN noU">
            <h3 class="titles">Squareroot</h3>
            <p>Sign: s</p>
            <p>Example: 9s = 3</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L300-L338" target="_blank">Implementation</a>
        </div>

        <div class="messagesN dis">
            <h3 class="titles">Sine</h3>
            <p>Sign: To be decided</p>
            <p>Example: Not being used</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L435-L445" target="_blank">Implementation</a>
        </div>
        <div class="messagesN dis">
            <h3 class="titles">Cosine</h3>
            <p>Sign: To be decided</p>
            <p>Example: Not being used yet</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L448-L456" target="_blank">Implementation</a>
        </div>
        <div class="messagesN dis">
            <h3 class="titles">Tangent</h3>
            <p>Sign: To be decided</p>
            <p>Example: Not being used</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L459-L461" target="_blank">Implementation</a>
        </div>

        <div class="messagesN dis">
            <h3 class="titles">Secant</h3>
            <p>Sign: To be decided</p>
            <p>Example: Not being used</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L463-L465" target="_blank">Implementation</a>
        </div>
        <div class="messagesN dis">
            <h3 class="titles">Cosecant</h3>
            <p>Sign: To be decided</p>
            <p>Example: Not being used yet</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L467-L469" target="_blank">Implementation</a>
        </div>
        <div class="messagesN dis">
            <h3 class="titles">Cotangent</h3>
            <p>Sign: To be decided</p>
            <p>Example: Not being used</p>
            <a href="https://github.com/Team-ALGO2/ALGO2/blob/master/Final/src/utils/math.c#L471-L473" target="_blank">Implementation</a>
        </div>

        



    </div>
